<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="SlimSkeleton">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./app</directory>
            <directory suffix=".php">./src</directory>
        </whitelist>
        <blacklist>
            <directory suffix=".php">./tests</directory>
        </blacklist>
    </filter>
    <logging>
        <log type="coverage-clover" target="coverage.xml"/>
    </logging>
</phpunit>
